:root {
  --dayw: 10px;
  --bottomh: 200px;
  --bottomb: 10px;
  --todayb: #434;
  --bgcolor: #656;
  --faint: #605060;
  --click:       rgb(128,160,128);
  --countable-6: rgb(189,0,38)   ;
  --countable-5: rgb(240,59,32)  ;
  --countable-4: rgb(253,141,60) ;
  --countable-3: rgb(254,178,76) ;
  --countable-2: rgb(254,217,118);
  --countable-1: rgb(255,255,178);
  --countable-0: rgb(143,128,143);
}

html
{
  padding: 0;
  margin: 0;
  height: 100%;
}
body
{
  background-color: var(--bgcolor);
  padding: 0;
  margin: 0;
  height: 100%;
  text-align: center;
  font-family: 'Optima';
  font-weight: bold;
}
div
{
  padding: 0;
  margin: 0;
}
div#top
{
  background-color: var(--bgcolor);
  font-size: 1em;
  /*height: calc(100% - var(--bottomh) - 2*var(--bottomb));*/
}
.bottomitem
{
  font-size: 10em;
  height: var(--bottomh);
  line-height: var(--bottomh);
  border: 5px solid var(--todayb);
  background-color: var(--bgcolor);
  border-color: var(--bgcolor);
  margin: 0;
  padding: 0;
  margin-top: 5px;
  overflow: hidden;
   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#bottomright
{
  margin-right: auto;
  border-left: 0;
  border-right: 0;
  color: var(--faint);
  text-align: left;
}
#bottomleft
{
  margin-left: auto;
  border-left: 0;
  border-right: 0;
  color: var(--faint);
  text-align: right;
}
#bottom
{  
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#bottomcenter
{
  background-color: none;
  width: var(--bottomh);
  height: var(--bottomh);
  overflow: hidden;
  border-color: var(--todayb);
  color: rgba(0, 0, 0, 0.333333);
  /* awkward to have thick border*/
}
.month
{
  background-color: none;
  display: inline-block;
  vertical-align: top;
}
.day
{
  width: var(--dayw);
  height: var(--dayw);
  border: 1px solid #555;
  padding: 1px;
  margin: 1px;
  font-size: 8pt;
}

#selected
{
  border: 2px solid var(--todayb);
  padding: 0px ;
}

/* overflow */
.day                   { background-color: var(--countable-0) }
[class*=" countable-"] { background-color: var(--countable-6) }
.countable-6           { background-color: var(--countable-6) }
.countable-5           { background-color: var(--countable-5) }
.countable-4           { background-color: var(--countable-4) }
.countable-3           { background-color: var(--countable-3) }
.countable-2           { background-color: var(--countable-2) }
.countable-1           { background-color: var(--countable-1) }
.countable-0           { background-color: var(--countable-0) }
#bottomcenter.waiting  { background-color: var(--click) }
